* {
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1000px;
    margin: auto;
    background-color: #f7f7f7;
}

main {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*-----template rækker indsættes med indhold som følger: header - splash - indhold - sociale medier - footer --*/
    grid-template-rows: auto auto auto auto 200px;
    grid-gap: 0;
    box-shadow: 0 0 20px #dbdbdb;
    height: auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: gelo, serif;
}


/*__________header og navigation________________*/


.hidden {
    visibility: visible;
    display: none;
}

header {
    display: flex;
    grid-column: 1/5;
    justify-content: flex-start;
    flex-direction: column;
    background-color: white;
}

nav a,
#menuknap,
nav button,
#menu,
#menu2 {
    color: white;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #47ab48;
    justify-content: flex-start;
    cursor: pointer;
    font-family: proxima-nova, sans-serif;
    border: none;
}

nav a:hover,
button:hover,
a:hover {
    opacity: 0.7;
}

a img:hover {
    transform: scale(1.2);
}

#dropdown_button,
#dropdown_button2 {
    margin: 0;
    padding: 0;
}

nav button,
#menuknap {
    font-weight: bold;
}

#logo_top {
    background-color: white;
    margin: auto;
    padding: 20px 0 20px 20px;
}

header img {
    width: 120px;
    height: auto;
}

nav div img {
    width: 70px;
    height: 27px;
    margin: 5px 0 0 10px;
}

header nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

header nav #dropdown,
header nav #dropdown2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
}

header nav .dropdown_fag,
header nav .dropdown_om {
    flex-direction: column;
    flex-wrap: nowrap;
    padding-left: 10px;
    background-color: green;
    font-size: 0.8rem;
    z-index: 1;
}

/*___search bar___*/
nav div input[type=text] {
    padding: 6px;
    border: solid 2px #dbdbdb;
    margin: 0 1px;
    font-size: 17px;
    width: 100px;
}


@media only screen and (min-width: 800px) {

    .hidden {
        visibility: visible;
        display: flex;
    }

    #menuknap,
    #dropdown_button {
        display: none;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
    }

    .dropdown_fag .dropfag,
    .dropdown_om .dropfag {
        padding: 10px;
    }

    .dropdown_fag,
    .dropdown_om {
        padding: 0;
    }

    header nav {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    nav,
    nav a,
    #menu {
        background-color: white;
        color: black;
        align-items: flex-end;
        justify-content: space-between;
    }

    header nav #dropdown,
    header nav #dropdown2 {
        padding: 0 10px;
    }

    .dropdown_fag,
    .dropdown_om {
        display: flex;
        visibility: hidden;
        position: absolute;
    }

    #hojskole_menu:hover ~ .dropdown_fag {
        visibility: visible;
    }

    .dropdown_fag:hover {
        visibility: visible;
    }

    #hojskole_menu2:hover ~ .dropdown_om {
        visibility: visible;
    }

    .dropdown_om:hover {
        visibility: visible;
    }

}



/*___________splash (forside) og title (hojskole)_________*/

#splash {
    grid-row: 2/3;
    grid-column: 1/5;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

#splash #info,
#splash #title {
    background-color: #0b1d42;
    color: white;
    opacity: 0.95;
    height: 90%;
    width: auto;
    padding: 40px;
    margin: 40px;
    text-align: center;
    font-family: proxima-nova, sans-serif;
    line-height: 2.5rem;
}

#splash #title {
    align-self: center;
    height: auto;
    padding: 20px;
    margin: auto;
    opacity: 1;
    font-family: gelo, serif;
}

#splash #info p {
    line-height: 1.7rem;
    text-align: left;
}

button {
    color: #555555;
    background-color: white;
    padding: 20px;
    margin: 20px 20px 0 20px;
    font-size: 1rem;
    text-transform: uppercase;
    border: solid lightgray 2px;
    cursor: pointer;
}

button a {
    color: #555555;
    text-decoration: none;
    font-weight: bold;
}

/*____________forside-indhold_________*/

#forside {
    grid-row: 3/4;
    grid-column: 1/5;
    background-color: #0b1d42;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

#tilmelding {
    grid-row: 3/4;
    grid-column: 1/5;
    background-color: #0b1d42;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#tilmeldknapper {
    background-color: #0b1d42;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;

}

#forside img {

    height: auto;
    width: 100%;
    padding: 20px;
}

#tilmeldknapper img {
    height: auto;
    width: 70vw;
    margin: 20px;
}

#ord {
    color: white;
    border-bottom: solid white 1px;
    padding-bottom: 10px;
}


/*________________priser-indhold___________*/

#priscontent {
    grid-row: 3/4;
    grid-column: 1/5;

}

#pris {
    font-family: proxima-nova, sans-serif;
    padding: 20px;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0b1d42;
}

#prissek,
#faq_sek,
#praktisksek,
#tilmeldpris {
    font-family: proxima-nova, sans-serif;
    background-color: #0b1d42;
    padding: 20px;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row: 3/4;
    grid-column: 1/5;
}


#prissek article,
#faq_sek article,
#praktisksek article,
#tilmeldpris article {
    background-color: #0b1d42;
}

#prissek article:nth-child(even),
#faq_sek article:nth-of-type(even),
#praktisksek article:nth-of-type(even),
#tilmeldpris article:nth-of-type(even) {
    background-color: #162a53;
}

#prissek h2,
#faq_sek h2,
#praktisksek h2,
#tilmeldpris h2 {
    padding-top: 5px;
}

#prissek button,
#faq_sek button,
#praktisksek button,
#tilmeldpris button {
    width: 40px;
    height: 40px;
    background-color: rgba(11, 29, 66, 0);
    padding: 0;
    margin: 0;
    border: none;
}

#prissek button img,
#faq_sek button img,
#praktisksek button img,
#tilmeldpris button img {
    width: 60%;
    transform: rotate(90deg);
}

.prisheader,
.praktiskheader {
    display: flex;
    flex-direction: row;
    padding: 10px 10px 10px 0;
    border-top: solid white 1px;
}

.tall_line {
    display: none;
}

#pris figure {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#pris p {
    padding: 10px 0;
}

.valg1,
.valg2,
.valg3,
.valg4 {
    margin: 5px 0;
    padding: 10px;
    border: solid #1b315f 0.5px;
    flex-basis: 180px;
    flex-grow: 1;
}

#prissek .mere,
#faq_sek .mere,
#praktisksek .mere,
#tilmeldpris .mere {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}


#prissek #det-med-smatmere {
    flex-wrap: nowrap;
    flex-direction: column;
}

#prissek #det-med-smatmere p,
#prissek #det-med-smatmere h3 {
    line-height: 1.7rem;
    padding: 0 10px;
}

#tilmeldpris #det-med-smatmere {
    flex-wrap: nowrap;
    flex-direction: column;
}

#tilmeldpris #det-med-smatmere p,
#tilmeldpris #det-med-smatmere h3 {
    line-height: 1.7rem;
    padding: 0 10px;
}

.mere hr {
    grid-area: none;
    width: 98%;
    height: 1px;
    margin: 20px auto;
    color: #d1d1d1;
}

/*________________højskole-indhold___________*/

#content {
    grid-row: 3/4;
    grid-column: 1/5;
    background-color: #0b1d42;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    font-family: proxima-nova, sans-serif;
    width: 100%;
}

#personale {
    background-color: #0b1d42;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    font-family: proxima-nova, sans-serif;
    width: 100%;
}

#indholdpers {
    grid-row: 3/4;
    grid-column: 1/5;

}

#content h2,
#personale h2 {
    line-height: 2.5rem;
    width: 100%;
    word-wrap: break-word;
    font-family: gelo, serif;
}

#content p,
#personale p {
    line-height: 2rem;
    padding-bottom: 15px;
    width: 100%;
    word-wrap: break-word;

}

#content button {
    margin: 20px auto;
}

#content img {
    width: 100%;
    height: auto;
}

#personale img {
    max-width: 100%;
    height: auto;
}


#fagomrader #last_ikon img {
    padding: 21px;
    padding-top: 13px;
}

#fagomrader {
    background-color: #071f4e;
    width: 100%
}

#readmore {
    width: 100%;
}

#fagomrader h3,
#readmore h3 {
    margin: 20px;
}

#fagomrader #fagikoner,
#readmore #moreikoner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px 0;
    justify-content: center;
}

#fagomrader img,
#readmore img {
    width: 130px;
    padding: 10px;
}

/*-------------specialfag-------------------------------*/
#fag-content {
    grid-row: 3/4;
    grid-column: 1/5;
    padding: 0;
    background-color: #0b1d42;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    font-family: proxima-nova, sans-serif;
}

.fagartikel {
    width: 100vw;
}

.fagelement {
    padding: 20px;
    background-size: cover;
    height: 400px;
}

.fagartikel:nth-child(even) h2,
.fagartikel:nth-child(even) p,
.fagartikel:nth-child(even) button {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: auto;
    margin-right: 0;
}

.fagartikel p,
.fagartikel h2 {
    padding: 5px 20px;
    max-width: 450px;
    line-height: 1.8rem;
    font-weight: lighter;
}

.fagartikel h2 {
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    word-wrap: break-word;
}

.fagartikel button {
    font-weight: bold;
    color: #555555;
    background-color: white;
    border: none;
}

.fagartikel button:hover {
    opacity: 0.8;
}

/*___mere info tekster___*/

.mere {
    padding: 40px;
    line-height: 2rem;
    border-bottom: white solid 4px;
}

.fagartikel .mere p,
.fagartikel .mere h2 {
    display: flex;
    align-items: flex-start;
    margin: 0;
    max-width: none;
    flex-direction: column;
}

.fagartikel .mere h2 {
    font-size: 2rem;
    padding: 20px;
}


/*________________blogpost___________________*/

#blog {

    grid-row: 3/4;
    grid-column: 1/5;
}

#blogcontent {
    padding: 0;
    background-color: #0b1d42;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    color: white;
    font-family: proxima-nova, sans-serif;
}

#blogindhold {
    padding: 40px;
    color: white;
    font-family: proxima-nova, sans-serif;
    background-color: #182e5c;
}

#blogindhold h3 {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

#blogcontent .postartikel {
    padding: 20px;
}

#blogcontent .image {
    height: 200px;
    width: 100%;
    background-size: cover;
}

/*______popup til blogposts____*/

#popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(11, 29, 66, 0.71);
    display: none;
    cursor: pointer;
}

#popup section {
    width: 80vw;
    height: 80vh;
    overflow-y: scroll;
    margin: 3rem auto;
    background-color: rgb(229, 233, 242);
    display: flex;
    flex-direction: column;
    cursor: auto;
    padding: 40px;
}

#popup button {
    background-color: rgb(229, 233, 242);
    border: none;
    color: #0b1d42;
    cursor: pointer;
    margin: 20px;
    width: 30px;

}

#popup img {
    width: 80%;
    margin: 0 auto;
    height: 300px;
    object-fit: cover;
}

#popup h3 {
    font-family: gelo, serif;
    color: #0b1d42;
    text-align: center;
    font-size: 2rem;
    margin: 20px 0 0 0;
}

#poptekst img {
    display: flex;
}

#popup p {
    padding: 10px;
    border-radius: 0;
    font-family: proxima-nova, sans-serif;
    line-height: 1.7rem;
}


/*___________om undersider________*/

#personale {
    flex-direction: column;
    padding: 40px 40px 0 40px;
}

#personale h3,
#personale h4 {
    font-size: 2rem;
    padding: 20px 0;
}

#personer {
    padding: 0 40px 40px 40px;
    background-color: #0b1d42;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    color: white;
    grid-gap: 40px;
    font-family: proxima-nova, sans-serif;

}

/*-----------sociale medielinks og footer-----------------*/

#sociale {
    grid-row: 4/5;
    grid-column: 1/5;
    background-color: #47ab48;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    font-family: gelo, serif;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

#sociale p {
    padding: 0px;
    font-size: 1rem;
}

.lang {
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}

.kort {
    display: block;
    visibility: visible;
    width: auto;
    height: auto;
}

#sociale img {
    padding: 0px;
    width: 100%;
}

#sociale a {
    padding: 0px;
    width: 10%;
}

footer {
    grid-row: 5/6;
    grid-column: 1/5;
    display: grid;
    grid-template-areas: "left left hr right1 right2";
    background-color: white;
}

footer p {
    padding: 0;
    line-height: 1.7rem;
}


footer .left_footer,
footer .right_footer1,
footer .right_footer2 {
    color: black;
    padding: 20px;
    font-family: proxima-nova, sans-serif;
}

hr {
    grid-area: hr;
    width: 1px;
    height: auto;
    margin: 20px 0;
    color: #d1d1d1;
}

footer .left_footer {
    grid-area: left;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

footer .right_footer {
    grid-area: right1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}

footer .right_footer1 {
    margin: 20px 20px 0 20px;
    padding: 0;
}

footer .right_footer2 {
    margin: 0px 20px 20px 20px;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

/*____logo i footer______*/
footer img {
    height: 80px;
    width: 100px;
    margin: auto;
    padding-bottom: 10px;
    display: flex;
}

/*_____en del af højskolerne-billedet__*/
footer .right_footer1 img {
    height: 40px;
    width: auto;
    margin: auto;
    padding-bottom: 10px;
}

footer button {
    margin: 0;
}

/*__________MEDIAQUERIES___________*/

/*______header og navigation går fra burgermenu til menulinje og footer tilpasses__*/


@media only screen and (min-width: 600px) {
    .mere {
        padding: 40px 180px;
    }

    #prissek #det-med-smatmere p {
        padding: 0 30vw 0 10px;
    }

}


@media only screen and (min-width: 1000px) {

    #prissek #det-med-smatmere p,
    #tilmeldpris #det-med-smatmere p {
        padding: 0 350px 0 10px;
    }



    #popup p {
        padding: 10px 80px;
    }
}

@media only screen and (min-width: 800px) {


    #praktisksek .mere,
    #faq_sek .mere {
        padding: 20px 300px 20px 20px;
    }

    #content {
        padding: 40px 130px;
    }

    header {
        flex-direction: row;
        height: 114px;
    }

    header a:first-child {
        padding: 20px 20px 20px 0;
    }

    #menuknap,
    #dropdown_button,
    #dropdown_button2 {
        visibility: hidden;
        display: none;
    }

    .dropdown_linje {
        height: auto;
        position: relative;
        display: inline-block;
    }

    /*  #dropdown_linje a:hover {
      display: block;
  }*/

    nav img {
        width: 100px;
    }

    /*.hidden {
    height: auto;
    visibility: visible;
    display: flex;
}*/

    nav {
        display: flex;
        width: 90%;
        justify-content: space-between;
        flex-direction: row;
    }

    nav a,
    header nav a:first-child,
    nav div,
    #menuknap,
    nav div a {
        color: black;
        padding: 60px 0 20px 0;
        font-family: proxima-nova, sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        background-color: white;
        cursor: pointer;
    }

    nav a:first-child {
        padding: 20px 0;
    }

    nav div img {
        width: 70px;
        height: 27px;
        margin: 5px 0 0 3px;
    }


    /*___footer____*/
    #sociale p {
        padding: 20px;
        font-size: 1.4rem;
    }

    #sociale img {
        width: 100%;
        height: auto;
    }

    #sociale a {
        width: 7%;
        height: auto;
    }

    .lang {
        visibility: visible;
        width: auto;
        height: auto;
    }

    .kort {
        visibility: hidden;
        width: 0px;
        height: 0;
    }

    footer .left_footer {
        flex-direction: row;
    }

    footer .right_footer {
        flex-direction: row;
        justify-content: space-between;
        display: flex;
    }

    footer .right_footer1 {
        grid-area: right1;
        margin: 20px;
    }

    footer .right_footer2 {
        grid-area: right2;
        margin: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

}


@media only screen and (min-width: 400px) {

    /*___footer____*/
    #sociale p {
        padding: 20px;
        font-size: 1.3rem;
    }
}

/*_______info-tekst og ikonbilleder på højskole-siden tilpasses i breden + pris-siden går fra en kollone til to_*/
@media only screen and (min-width: 600px) {

    #content {
        flex-direction: row;
    }

    #left,
    #right {
        flex-basis: 400px;
        flex-grow: 1;
    }

    #content button {
        margin: 20px 0;
        height: 80px;
        width: 50%;
    }

    #fagomrader img,
    #readmore img {
        width: 160px;
        padding: 10px;
    }

    #pris {
        flex-direction: row;
        justify-content: space-around;
    }

    #pris .tall_line {
        display: block;
        margin: 10px;
    }



}

/*_______info-tekst og ikonbilleder på forside tilpasses i breden_*/
@media only screen and (min-width: 450px) {

    /*__info-tekst___*/
    #splash #info {
        width: clamp(400px, 60%, 500px);
    }

    /*___forside indhold/ikoner___*/
    #forside {
        flex-direction: row;
    }

    #tilmeldknapper {
        flex-direction: row;
        width: 100%;
    }

    #forside img,
    #tilmeldknapper img {
        height: auto;
        width: 200px;
    }

    .fagartikel {
        width: auto;
    }

}
