* {
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1000px;
    margin: auto;
}

main {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*-----template rækker indsættes med indhold som følger: header - splash - indhold - sociale medier - footer --*/
    grid-template-rows: auto auto auto auto 200px;
    grid-gap: 0;
}


/*__________header og navigation________________*/

.hidden {
    height: 0;
    visibility: hidden;
    display: none;
}

header {
    grid-column: 1/5;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

header img {
    width: 100px;
}

nav {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

nav a,
header nav a:first-child,
nav div,
#menuknap,
nav div a {
    color: white;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #47ab48;
    justify-content: flex-start;
    cursor: pointer;
    font-family: sans-serif;
}

#menuknap {
    font-weight: bold;
}

header a:first-child {
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 20px 0;
}

nav div img {
    width: 34px;
    height: 34px;
    margin: 0 0 0 10px;
}

/*___dropdownmenu______*/

nav #dropdown_fag {
    display: none;
    color: white;
    padding-left: 20px;
    margin: 0;
}

#dropdown_linje {
    margin: 0;
    height: 40px;
    padding-top: 0;
}

nav div #dropdown_button {
    background-color: #47ab48;
    color: white;
    padding: 5px;
    margin: 0;
    border: none;
    height: 43px;
}

nav #dropdown_fag a,
nav #dropdown_fag a:first-child {
    font-size: 0.8rem;
    color: white;
    padding: 5px;
    justify-content: flex-start;
    cursor: pointer;
    font-family: sans-serif;
    background-color: #348934;
}

/*__________search bar --KODE FRA https://www.w3schools.com/howto/howto_css_searchbar.asp________________*/
/* Add a black background color to the top navigation bar */
nav div {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin: -5px 0 5px 0;
}

nav div input {
    width: 125px;
    outline: solid lightgray 1px;
}

/* Style the links inside the navigation bar */
nav div a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Style the "active" element to highlight the current page */
nav div a.active {
    background-color: #2196F3;
    color: white;
}

/* Style the search box inside the navigation bar */
nav div input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin: 0 1px;
    font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {

    nav div a,
    .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    nav div input[type=text] {
        border: 1px solid #ccc;
    }
}

/*________slut med kode fra w3school_______*/



/*___________splash (forside) og title (hojskole)_________*/

#splash {
    grid-row: 2/3;
    grid-column: 1/5;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

#splash #info,
#splash #title {
    background-color: #0b1d42;
    color: white;
    opacity: 0.95;
    height: 90%;
    width: auto;
    padding: 40px;
    margin: 40px;
    text-align: center;
    font-family: sans-serif;
    line-height: 2.5rem;
}

#splash #title {
    align-self: center;
    height: auto;
    padding: 20px;
    margin: auto;
    opacity: 1;
}

#splash #info p {
    line-height: 1.7rem;
    text-align: left;
}

button {
    color: #555555;
    background-color: white;
    padding: 20px;
    margin: 20px 20px 0 20px;
    font-size: 1rem;
    text-transform: uppercase;
    border: solid lightgray 2px;
    cursor: pointer;
}

button a {
    color: #555555;
    text-decoration: none;
    font-weight: bold;
}

/*____________forside-indhold_________*/

#forside {
    grid-row: 3/4;
    grid-column: 1/5;
    background-color: #0b1d42;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

#forside img {
    height: auto;
    width: 100%;
    padding: 20px;
}

/*________________højskole-indhold___________*/

#content {
    grid-row: 3/4;
    grid-column: 1/5;
    background-color: #0b1d42;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    font-family: sans-serif;
}

#content h2 {
    line-height: 2.5rem;
}

#content p {
    line-height: 1.5rem;

}

#content button {
    margin: 20px auto;
}

#content img {
    width: 100%;
    height: auto;
}

#fagomrader {
    background-color: #071f4e;
    width: 100%
}

#readmore {
    width: 100%;
}

#fagomrader h3,
#readmore h3 {
    margin: 20px;
}

#fagomrader #fagikoner,
#readmore #moreikoner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px 0;
    justify-content: center;
}

#fagomrader img,
#readmore img {
    width: 130px;
    padding: 10px;
}

/*-------------specialfag-------------------------------*/
#fag-content {
    grid-row: 3/4;
    grid-column: 1/5;
    padding: 0;
    background-color: #0b1d42;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    font-family: sans-serif;
}

.fagelement {
    padding: 20px;
    background-size: cover;
}

.fagartikel p,
.fagartikel h2 {
    padding: 5px 20px;
    max-width: 450px;
    line-height: 1.8rem;
    font-weight: lighter;
}

.fagartikel h2 {
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
}

.fagartikel button {
    font-weight: bold;
    color: #555555;
    background-color: white;
    border: none;
}

.fagartikel button:hover {
    opacity: 0.8;
}

/*-----------sociale medielinks og footer-----------------*/

#sociale {
    grid-row: 4/5;
    grid-column: 1/5;
    background-color: #47ab48;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

#sociale p {
    padding: 0px;
    font-size: 1rem;
}

.lang {
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}

.kort {
    display: block;
    visibility: visible;
    width: auto;
    height: auto;
}

#sociale img {
    padding: 0px;
    width: 100%;
}

#sociale a {
    padding: 0px;
    width: 10%;
}

footer {
    grid-row: 5/6;
    grid-column: 1/5;
    display: grid;
    grid-template-areas: "left left hr right1 right2"
}

footer p {
    padding: 0;
    line-height: 1.7rem;
}

footer .left_footer,
footer .right_footer1,
footer .right_footer2 {
    color: black;
    padding: 20px;
    font-family: sans-serif;
}

hr {
    grid-area: hr;
    width: 1px;
    height: auto;
    margin: 20px 0;
    color: #d1d1d1;
}

footer .left_footer {
    grid-area: left;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

footer .right_footer {
    grid-area: right1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}

footer .right_footer1 {
    margin: 20px 20px 0 20px;
    padding: 0;
}

footer .right_footer2 {
    margin: 0px 20px 20px 20px;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

/*____logo i footer______*/
footer img {
    height: 80px;
    width: 100px;
    margin: auto;
    padding-bottom: 10px;
}

/*_____en del af højskolerne-billedet__*/
footer .right_footer1 img {
    height: 40px;
    width: auto;
    margin: auto;
    padding-bottom: 10px;
}

footer button {
    margin: 0;
}

/*__________MEDIAQUERIES___________*/

/*______header og navigation går fra burgermenu til menulinje og footer tilpasses__*/

@media only screen and (min-width: 800px) {

    header {
        flex-direction: row;
        height: 114px;
    }

    header a:first-child {
        padding: 20px 20px 20px 0;
    }

    #menuknap,
    #dropdown_button {
        visibility: hidden;
        display: none;
    }

    #dropdown_linje {
        height: auto;
        position: relative;
        display: inline-block;
    }

    #dropdown_linje a:hover {
        display: block;
    }

    nav img {
        width: 100px;
    }

    .hidden {
        height: auto;
        visibility: visible;
        display: flex;
    }

    nav {
        display: flex;
        width: 90%;
        justify-content: space-between;
        flex-direction: row;
    }

    nav a,
    header nav a:first-child,
    nav div,
    #menuknap,
    nav div a {
        color: black;
        padding: 60px 0 20px 0;
        font-family: sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        background-color: white;
        cursor: pointer;
    }

    nav a:first-child {
        padding: 20px 0;
    }

    nav div img {
        width: 34px;
        height: 34px;
        margin: 0 0 0 10px;
    }


    /*___footer____*/
    #sociale p {
        padding: 20px;
        font-size: 1.4rem;
    }

    #sociale img {
        width: 100%;
        height: auto;
    }

    #sociale a {
        width: 7%;
        height: auto;
    }

    .lang {
        visibility: visible;
        width: auto;
        height: auto;
    }

    .kort {
        visibility: hidden;
        width: 0px;
        height: 0;
    }

    footer .left_footer {
        flex-direction: row;
    }

    footer .right_footer {
        flex-direction: row;
        justify-content: space-between;
        display: flex;
    }

    footer .right_footer1 {
        grid-area: right1;
        margin: 20px;
    }

    footer .right_footer2 {
        grid-area: right2;
        margin: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}


@media only screen and (min-width: 400px) {

    /*___footer____*/
    #sociale p {
        padding: 20px;
        font-size: 1.3rem;
    }
}

/*_______info-tekst og ikonbilleder på højskole-siden tilpasses i breden_*/
@media only screen and (min-width: 600px) {

    #content {
        flex-direction: row;
    }

    #left,
    #right {
        flex-basis: 400px;
        flex-grow: 1;
    }

    #content button {
        margin: 20px 0;
        height: 80px;
        width: 50%;
    }


    #fagomrader img,
    #readmore img {
        width: 160px;
        padding: 10px;
    }


}

/*_______info-tekst og ikonbilleder på forside tilpasses i breden_*/
@media only screen and (min-width: 450px) {

    /*__info-tekst___*/
    #splash #info {
        width: clamp(400px, 60%, 500px);
    }

    /*___forside indhold/ikoner___*/
    #forside {
        flex-direction: row;
    }

    #forside img {
        height: auto;
        width: 20%;
    }

}
